<%= render partial: "user" %>

<% if @books.length >= 10%>

  <div class="book-shelf-top">
    <div class="book-shelf">
      <div class="shelf">
        <div class="contents-row">
          <% @books.each do |book| %>
            <% if book.user.nickname == @user.nickname %>
              <div class='item'>
                <ul class="name">
                  <% if book.id != 0 %>
                    <div class="content_post" >
                      <li class="list">
                        <%= book.title %>
                      </li>
                    </div>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="book-shelf-few-bottom"></div>
      </div>
    </div>
  </div>
<% elsif @books.length >= 6%>
  <div class="book-shelf-top">
    <div class="book-shelf-medium">
      <div class="shelf">
        <div class="contents-row">
          <% @books.each do |book| %>
           <% if book.user.nickname == @user.nickname %>
            <div class='item'>
              <ul class="name">
                <% if book.id != 0%>
                  <div class="content_post" >
                    <%= link_to book_path(book.id), method: :get do %>
                      <li class="list">
                        <%= book.title %>
                      </li>
                    <% end %>
                  </div>
                <% end %>
              </ul>
            </div>
           <% end %>
          <% end %>
        </div>
        <div class="book-shelf-few-bottom">
      </div>
    </div>
  </div>
<% elsif @books.length != 0%>
  <div class="book-shelf-top">
    <div class="book-shelf-few">
      <div class="shelf-few">
        <div class="contents-row">
          <% @books.each do |book| %>
           <% if book.user.nickname == @user.nickname %>
            <div class='item'>
              <ul class="name">
                <% if book.id != 0%>
                  <div class="content_post" >
                    <%= link_to book_path(book.id), method: :get do %>
                      <li class="list">
                        <%= book.title %>
                      </li>
                    <% end %>
                  </div>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="book-shelf-few-bottom">
      </div>
    </div>
  </div>
<% else %>
  <div class="not-book-shelf-content">
    <div class="not-book-shelf">
      <div class="shelf-top">本を投稿しよう</div>
      <div class="shelf-bottom"></div>
    </div>
  </div>
<% end %>