<%= render partial: "book" %>
<div class="contents row">
  <div class="content_title" style="background-image: url(<%= "#"%>);">
    <div class="image-content">
      <%= image_tag @book.image,class:"item-box-img" %>
    </div>
    <div class="title-content">
      <div class="book-title">
        <span style="color:blue">タイトル・</span>
        <%= @book.title %> ( <%= @book.genre.name %> )
      </div>

      <div class="book.publisher">
         <span style="color:blue">出版社・</span>
        <%= @book.publisher.name %>
      </div>
    </div>
  </div>
  <div class="comment-content">
    <div class="container-comment">
      <% if current_user %>
        <%= form_with(model: [@book, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <h4>＜感想一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
          <div class="comment-box">
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
              <%= comment.text %>
            </p>
          </div>
          <% end %>
            <% @anotherComment.each do |comment| %>  
              <div class="comment-box">
               <% if current_user.id != comment.user_id && comment.book.title == @title.book.title %>
                <p>
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.text%>
                  <%= comment.book.title %>
                </p>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>