<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
    <div class="header"></div>
  　</header>
    <%= yield %>
    <footer>
      <div class="footer">
        <p>
          Copyright Bookshelf 2020.
        </p>
        </div>
    </footer>
  </body>
</html>